.header {
  @media (max-width: 576px) {
    height: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 576px) {
    justify-content: center;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 576px) {
    justify-content: center;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.title {
  text-align: left;

  a {
    font-size: 32px;
    color: #fff !important;
  }

  @media (max-width: 576px) {
    text-align: center;
  }
}

.github {
  font-size: 26px;
  color: #fff !important;
}
