.title {
  text-align: left;

  a {
    font-size: 32px;
    color: #fff !important;
  }

  @media (max-width: 1366px) {
    text-align: center;
  }
}

.github {
  font-size: 26px;
  color: #fff !important;
}
